params.nproc = 20 //* @input @description:"How many processes to use for each step. Default 1"
params.mate="pair"
params.projectDir="${projectDir}" //* @input @description:"How many processes to use for each step. Default 1"
// Process Parameters for params.Filter_Sequence_Quality_filter_seq_quality:
params.Filter_Sequence_Quality_filter_seq_quality.method = "quality"
params.Filter_Sequence_Quality_filter_seq_quality.nproc = params.nproc
params.Filter_Sequence_Quality_filter_seq_quality.q = "20"

params.pair_seq.coord = "sra"
params.pair_seq.act = "none"
params.pair_seq.copy_fields_1 = ""
params.pair_seq.copy_fields_2 = ""
params.pair_seq.nproc = params.nproc

// Process Parameters for Assemble pairs:
params.Assemble_pairs_assemble_pairs.method = "align"
params.Assemble_pairs_assemble_pairs.coord = "sra"
params.Assemble_pairs_assemble_pairs.rc = "tail"
params.Assemble_pairs_assemble_pairs.head_fields_R1 = "CONSCOUNT"
params.Assemble_pairs_assemble_pairs.head_fields_R2 = "CONSCOUNT PRCONS"
params.Assemble_pairs_assemble_pairs.failed = "false"
params.Assemble_pairs_assemble_pairs.fasta = "false"
params.Assemble_pairs_assemble_pairs.nproc = params.nproc
params.Assemble_pairs_assemble_pairs.alpha = 0.00001
params.Assemble_pairs_assemble_pairs.maxerror = 0.3
params.Assemble_pairs_assemble_pairs.minlen = 10
params.Assemble_pairs_assemble_pairs.maxlen = 1000
params.Assemble_pairs_assemble_pairs.scanrev = "true"
params.Assemble_pairs_assemble_pairs.minident = 0.5
params.Assemble_pairs_assemble_pairs.evalue = 0.00001
params.Assemble_pairs_assemble_pairs.maxhits = 100
params.Assemble_pairs_assemble_pairs.fill = "false"
params.Assemble_pairs_assemble_pairs.aligner = "blastn"
params.Assemble_pairs_assemble_pairs.gap = 0
params.Assemble_pairs_assemble_pairs.usearch_version="11.0.667"

// Process Parameters for Mask_Primer_MaskPrimers:
params.Mask_Primer_MaskPrimers.method = ["score","score"]
params.Mask_Primer_MaskPrimers.mode = ["cut","cut"]
params.Mask_Primer_MaskPrimers.primer_field = ["PRIMER","PRIMER"]
params.Mask_Primer_MaskPrimers.barcode_field = ["BARCODE","BARCODE"]
params.Mask_Primer_MaskPrimers.start = [0,0]
params.Mask_Primer_MaskPrimers.barcode = ["false","true"]
params.Mask_Primer_MaskPrimers.umi_length = [0,14]
params.Mask_Primer_MaskPrimers.maxerror = [0.2,0.2]
params.Mask_Primer_MaskPrimers.revpr = ["false","false"]
params.Mask_Primer_MaskPrimers.failed = "true"
params.Mask_Primer_MaskPrimers.fasta = "false"
params.Mask_Primer_MaskPrimers.nproc = params.nproc
params.Mask_Primer_MaskPrimers.R1_primers = "${projectDir}/primers/V.fasta"
params.Mask_Primer_MaskPrimers.R2_primers = "${projectDir}/primers/IG_Primers.fasta"

// Process Parameters for params.Build_Consensus_build_consensus:
params.Build_Consensus_build_consensus.failed = "false"
params.Build_Consensus_build_consensus.nproc = params.nproc
params.Build_Consensus_build_consensus.barcode_field = ["BARCODE","BARCODE"]
params.Build_Consensus_build_consensus.primer_field = ["PRIMER","PRIMER"]
params.Build_Consensus_build_consensus.act = ["none","none"]
params.Build_Consensus_build_consensus.mincount = [1,1]
params.Build_Consensus_build_consensus.minqual = [0,0]
params.Build_Consensus_build_consensus.minfreq = [0.6,0.6]
params.Build_Consensus_build_consensus.maxerror = [0.1,0.1]
params.Build_Consensus_build_consensus.prcons = [0.6,0.6]
params.Build_Consensus_build_consensus.maxgap = [0.5,0.5]
params.Build_Consensus_build_consensus.maxdiv = ["none","none"]
params.Build_Consensus_build_consensus.dep = ["false","false"]

params.pair_seq_after_consensus.coord = "presto"
params.pair_seq_after_consensus.act = "none"
params.pair_seq_after_consensus.copy_fields_1 = "PRCONS"
params.pair_seq_after_consensus.copy_fields_2 = ""
params.pair_seq_after_consensus.nproc = params.nproc


params.collapse_seq.act = "set"
params.collapse_seq.uf = "CPRIMER"
params.collapse_seq.cf = "CONSCOUNT"
params.collapse_seq.nproc = params.nproc


